<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pnj.ac.id.foodless">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,ExtraText,GoogleAppIndexingWarning">

        <activity android:name=".Activity.userProfile"></activity>

        <activity android:name=".Activity.RegistrasiKomunitas" />
        <activity android:name=".Activity.ChooseRegister" />
        <activity android:name=".Activity.DetailActivity" />
        <activity
            android:name=".Activity.SplashScreen"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.Register"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.Login"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.Form"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>